{% extends "master.html" %}

{% block page_title %}News{% endblock %}

{% block content %}

  <div id="news-container">
    {% for news in latest_news %}
      <div class="news">
        <h3>{{ news.pub_date.date }}</h3>
        <ul>
          {% for item in news.news_item_set.all %}
            <li>{{ item.text }}</li>
          {% endfor %}
        </ul>
      </div>
    {% endfor %}
  </div>

  <div class="twitter-container">
    <a class="twitter-timeline" href="https://twitter.com/gruvdrift" data-widget-id="577750142662639616">Tweets by @gruvdrift</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  </div>
  <div class="clear-float"></div>
{% endblock %}
