{% extends "master.html" %}

{% block head %}<link href="/static/css/wiki.css" rel="stylesheet" type="text/css" />{% endblock %}

{% block page_title %}Wiki{% if wiki_title %} - {{ wiki_title }} {% endif %}{% endblock %}

{% block content %}
<div id="Wiki_menu">
    <ul>
      <li><a href="/wiki/Portal">Portal</a></li>
      <li><a href="/wiki/updates">Latest updates</a></li>
      {% block wiki_menu %}{% endblock %}
      <li><a href="/wiki/help">Help</a></li>
    </ul>
</div>

<div id="Wiki_content">
  {% block wiki_content %}Nothing here yet.{% endblock %}
</div>

<div id="After_wmenu"> </div>


{% endblock %}
