{% extends "wiki/base.html" %}
{% load wikitags %}
{% load markup %}

{% block wiki_menu %}
<ul>
  <li><a>Portal</a></li>
  <li><a>Latest updates</a></li>
  <li><a>History</a></li>
  <li><a>Help</a></li>
</ul>
{% endblock %}

{% block wiki_content %}
<form class="edit" method="POST">
    {% csrf_token %}
    <textarea id="body" name="body" style="width: 100%;" rows="24">{{ revision.body }}</textarea><br />
    <input type="hidden" id="base_rev" value="{{ base_rev }}" /><br />
    <div align="right">
        <input type="submit" value="Save" />
    </div>
</form>

{% endblock %}



