{% extends "wiki/base.html" %}
{% load wikitags %}
{% load markup %}

{% block wiki_menu %}
<li><a href="/wiki/{{ pagename }}">Current</a></li>
<li><a href="/wiki/history/{{ pagename }}">History</a></li>
{% endblock %}

{% block wiki_content %}
  {% if revision %}
<div id="Wiki_historical">This is a historical version of this page from {{ revision.pub_date }}</div>

{{ revision.body|wikify|markdown }}
  {% else %}
Sorry no such revision, maybe the time police was here?
  {% endif %}

{% endblock %}



