body
{
    background: black;
    background-image: url( "/static/img/bg.png" );
    color: #DEDEDE;
    font-family: 'Signika', sans-serif;
    /*font-size: 1.2em;*/
}

h1
{
    margin-top: 0em;
    border-bottom: 1px solid #DEDEDE;
}

h2, h3
{
    font-size: 1.3em;
}

h3
{
    margin-bottom: 0em;
}

ul, h3
{
    margin-top: 0em;
}

a
{
    color: white;
}

form.login
{
    padding: 1em;
    width: 20em;
}

.login label, .login input
{
    display: block;
    width: 10em;
    float: left;
    margin-bottom: 0.4em;
}

.login input[type="submit"]
{
    width: 5em;
    margin-right: 2em;
    float: right;
}

.login label
{
    text-align: right;
    padding-right: 1em;
}

.login br
{
    clear: left;
}

#Contents
{
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
    border: 2px solid #DEDEDE;
    background: url( "/static/img/bg2.png" );
}

#Online
{
    /*font-weight: bold;*/
    color: #C2C2C2;
}

#TopPlayTime > p
{
    margin-top: -1em;
    font-size: 0.8em;
    font-style: italic;
}

#Footer
{
    margin-top: 2em;
    font-size: 0.6em;
    color: #A8A8A8;
    text-align: right;
}

#SearchBox
{
    float: right;
}

ul.menu
{
    display: inline;
}

li.menu
{
    display: inline;
    padding-top: 2px;
    padding-right: 2px;
    padding-left: 2px;
    margin-right: 4px;
    color: white;
    background: #1F1F1F;
    border-top: 2px solid #A8A8A8;
    border-right: 2px solid #A8A8A8;
    border-left: 2px solid #A8A8A8;
}

li.menu:hover
{
    border: 2px solid #DEDEDE;
}

li.currentpage
{
    background: #303030;
    border: 2px solid #DEDEDE;
}

li.menu > a
{ 
    text-decoration: none;
}

div.mug
{
    width: 150px;
}

#map
{
    width: 905px;
}

#aftermap
{
    clear: both;
    padding-bottom: 1em;
}

img.mappart
{
    background-image: url( "/static/img/map-bg.png" );
    height: 300px;
    float: left;
}

a > img.mappart
{
    border: none;
}

#Logo
{
    font-size: 5em;
text-shadow: 0px 0px 5px #000000;
filter: dropshadow(color=#000000, offx=0, offy=0);
}

h1, h2, h3, .menu, #Logo
{
    font-family: 'Geo', sans-serif;
}

#Creeper
{
    position: absolute;
    right: 3em;
    top: 1em;
}

#Error
{
    color: red;
}