#Wiki_menu
{
  width: 10em;
  float: right;
  margin-top: -1.3em;
  background: rgba( 1, 1, 1, 0.5 );
  border-left: 1px dashed #A8A8A8;
  font-family: 'Geo', sans-serif;
}

#Wiki_menu > ul
{
  list-style-type: none;
  padding-top: 0.5em;
  padding-left: 0.5em;
}

#Wiki_content
{
  width: 32em;
}

#Wiki_content > h1
{
    font-size: 1.6em;
    text-decoration: underline;
    border: none;
}

#Wiki_content > h1, #Wiki_content > h2, #Wiki_content > h3, #Wiki_content > h4
{
    margin-bottom: -0.70em;
    paddig-bottom: 0em;
}

#Wiki_content > ul
{
    margin-top: -0.5em;
    padding-top: 0em;
}

#After_wmenu
{
  clear: both;
}
