{% extends "master.html" %}

{% block page_title %}Profile for {{ profile.user.username }}{% endblock %}

{% block content %}

<img src="/static/cache/{{ profile.user.username }}.png" /><br />

Invited by: <a href="{{ profile.invited_by }}">{{ profile.invited_by }}</a><br \>
Total time played: {{ profile.get_total_playtime }}<br \>
Has invited: {% for p in invitees %}
  <a href="/profile/{{ p.user.username }}">{{ p.user.username }}</a>, 
{% endfor %}<br />

{% if profile.unlocked %}
    {% if profile.banned or profile.whitelisted %}
        {% if profile.banned %}
Status: Banned - {{ profile.ban_reason }}
        {% else %}
            {% if profile.whitelisted %}
                {% if profile.jailed  %}
Status: Jailed - {{ profile.warning }}
                {% else %}
Status: All in working order.
                {% endif %}
            {% endif %}
        {% endif %}
    {% else %}
Status: Not whitelisted
    {% endif %}

{% else %}
Status: Still Locked
{% endif %}


{% endblock %}
