{% extends "master.html" %}

{% block page_title %}Account unlocking{% endblock %}

{% block content %}
  {% if unlock_failed %}
    <p id="Error">{{ unlock_failed }}</p>
  {% endif %}

  <form class="login" method="POST">
    {% csrf_token %}
    <label for="pass">Password:</label>
    <input type="password" id="pass" name="pass" /><br />
    <label for="pass2">Password again:</label>
    <input type="password" id="pass2" name="pass2" /><br />
    <label for="code">Unlock Code:</label>
    <input type="text" id="code" name="code" /><br />
    <input type="submit" value="Unlock" />
  </form>
{% endblock %}
